.form-control{
    border: 1.5px solid black;
    border-radius: 4px;
}

.container{
    background-image: url(http://3.bp.blogspot.com/-FmwnYjlPdC0/Uhv5wC4fK_I/AAAAAAAABPo/_KdAOJvLKuU/s1600/001.jpg);
}

